# Ignore virtual environments
qanda/
Lib/
Scripts/
include/
share/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore data files
*.db
*.log
*.sqlite3

# Ignore system or config files
.env
.DS_Store
Thumbs.db

# Ignore big binaries
*.dll
*.lib
*.exe
